@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-size: 16px;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.custom__box {
    max-width: 700px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
}

.custom__box::before,
.custom__box::after {
    content: '';
    clear: both;
    display: table;
}

.custom__box.hide {
    display: none;
}

.home__box h3 {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}

.home__box p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
}

.home__box p span {
    font-weight: 500;
}

.home__box .btn {
    margin-top: 20px;
}

.btn {
    padding: 15px 45px;
    background-color: #009688;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: inline-block;
}

.quiz__box .question__number,
.quiz__box .question__text,
.quiz__box .option__container,
.quiz__box .next__question__btn,
.quiz__box .answers__indicator {
    width: 100%;
    float: left;
}

.quiz__box .question__number {
    font-size: 18px;
    color: #009688;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px;
}

.quiz__box .question__text {
    font-size: 22px;
    color: #000000;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

.quiz__box .option__container {

}

.quiz__box .option__container .option {
    background-color: #cccccc;
    padding: 13px 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

.quiz__box .option__container .option.already__answered {
    pointer-events: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.quiz__box .option__container .option.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.quiz__box .option__container .option.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.quiz__box .option__container .option.wrong {
    color: #ffffff;
}

.quiz__box .option__container .option.correct{
    color: #ffffff;
}

.quiz__box .btn {
    margin: 15px 0;
}

.quiz__box .answers__indicator {
    border-top: 1px solid #cccccc;
}

.quiz__box .answers__indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}

.result__box {
    text-align: center;
}

.result__box.hide {
    display: none;
}

.result__box h1 {
    font-size: 36px;
    line-height: 42px;
    color: #009688;
}

.result__box table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

.result__box table td {
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000;
    width: 50%;
    text-align: left;
    font-size: 18px;
}

.result__box .btn {
    margin-right: 20px;
}


